<div class="body">
    <footer class="text-center text-lg-start" style="background-color: #253339; border-top: 1px solid black;">
        <div class="container d-flex justify-content-center py-3">
            <button type="button" class="btn btn-primary btn-md btn-floating mx-2" style="background-color: #6A828D; border-radius: 50px;">
                <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary btn-md btn-floating mx-2" style="background-color: #6A828D; border-radius: 50px;">
                <i class="fab fa-youtube"></i>
            </button>
            <button type="button" class="btn btn-primary btn-md btn-floating mx-2" style="background-color: #6A828D; border-radius: 50px;">
                <i class="fab fa-instagram"></i>
            </button>
            <button type="button" class="btn btn-primary btn-md btn-floating mx-2" style="background-color: #6A828D; border-radius: 50px;">
                <i class="fab fa-twitter"></i>
            </button>
        </div>
    </footer>
</div>
